@model MinorTribe.Models.BiosViewModel

@{
	ViewData["Title"] = "Edit";
	Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2 align="center"> Join the Tribe!!</h2>


<h4>Fill out the form to be featured on our Minor Tribe Instagram, we want to see all of our Tribes-kids!  </h4>

<hr />
<div class="row">
	<div class="col-md-4">

		<form method="post" enctype="multipart/form-data" asp-controller="Bios" asp-action="Create">

			<div asp-validation-summary="ModelOnly" class="text-danger"></div>
			<input type="hidden" asp-for="bio.Id" />
			<div class="form-group">
				<label asp-for="bio.Name" class="control-label"></label>
				<input asp-for="bio.Name" class="form-control" />
				<span asp-validation-for="bio.Name" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="bio.Email" class="control-label"></label>
				<input asp-for="bio.Email" class="form-control" />
				<span asp-validation-for="bio.Email" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="bio.Movie" class="control-label"></label>
				<input asp-for="bio.Movie" class="form-control" />
				<span asp-validation-for="bio.Movie" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="bio.Food" class="control-label"></label>
				<input asp-for="bio.Food" class="form-control" />
				<span asp-validation-for="bio.Food" class="text-danger"></span>
			</div>
			<div class="form-group">
				<label asp-for="bio.SuperHero" class="control-label"></label>
				<input asp-for="bio.SuperHero" class="form-control" />
				<span asp-validation-for="bio.SuperHero" class="text-danger"></span>
			</div>

			<div class="form-group">
				<div class="col-md-10">
					<p>Upload one file using this form:</p>
					<input type="file" name="file" />
				</div>
			</div>
			<div class="form-group">
				<div class="col-md-10">
					<input type="submit" value="Upload" />
				</div>
			</div>
		</form>

	</div>
</div>

<div>
	<a asp-action="Index">Back to List</a>
</div>

@section Scripts {
	@{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

