@{
	ViewData["Title"] = "Meet The Tribe";

	

}
<h1>
	@ViewData["Title"]
</h1>


<h3>Minor Tribe is for the kids that are different, creative, curious and really really cool!
	Moms and Dads if you would like us to feature your Tribe please upload your submitions in our Bio's page!
	We are always looking to showcase our new Generation. </h3>

<div class="container">
	<div class="row">
		<div class="col-sm-4 col-md-3">
			<img src="~/images/AboutThumbs/IMG_8979.jpg" class="img-responsive thumbnail">
		</div>
		<div class="col-sm-4 col-md-3">
			<img src="~/images/AboutThumbs/IMG_8986.jpg" class="img-responsive thumbnail">
		</div>
		<div class="col-sm-4 col-md-3">
			<img src="~/images/AboutThumbs/IMG_8991.jpg" class="img-responsive thumbnail">
		</div>
		<div class="col-sm-4 col-md-3">
			<img src="~/images/AboutThumbs/IMG_9001.jpg" class="img-responsive thumbnail">
		</div>
		<div class="col-sm-4 col-md-3">
			<img src="~/images/AboutThumbs/IMG_9009.jpg" class="img-responsive thumbnail">
		</div>
		<div class="col-sm-4 col-md-3">
			<img src="~/images/AboutThumbs/IMG_9056.jpg" class="img-responsive thumbnail">
		</div>
		<div class="col-sm-4 col-md-3">
			<img src="~/images/AboutThumbs/IMG_9063.jpg" class="img-responsive thumbnail">
		</div>
		<div class="col-sm-4 col-md-3">
			<img src="~/images/AboutThumbs/IMG_9074.jpg" class="img-responsive thumbnail">
		</div>
		<div class="col-sm-4 col-md-3">
			<img src="~/images/AboutThumbs/IMG_9115.jpg" class="img-responsive thumbnail">
		</div>
		<div class="col-sm-4 col-md-3">
			<img src="~/images/AboutThumbs/IMG_9135.jpg" class="img-responsive thumbnail">
		</div>
		<div class="col-sm-4 col-md-3">
			<img src="~/images/AboutThumbs/IMG_9143.jpg" class="img-responsive thumbnail">
		</div>
		<div class="col-sm-4 col-md-3">
			<img src="~/images/AboutThumbs/IMG_9163.jpg" class="img-responsive thumbnail">
		</div>
		<div class="col-sm-4 col-md-3">
			<img src="~/images/AboutThumbs/IMG_9170.jpg" class="img-responsive thumbnail">
		</div>
		<div class="col-sm-4 col-md-3">
			<img src="~/images/AboutThumbs/IMG_9178.jpg" class="img-responsive thumbnail">
		</div>
	</div>
</div>
