@{
    ViewData["Title"] = "Contact";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<address>
	Minor Tribe be at:
    San Antonio, TX Home of the Tacos<br />
    <abbr title="Phone">P:</abbr>
    210.123.4567
</address>

<address>
    <strong>Support:</strong> <a href="mailto:Info@MinorTribe.com.com">Info@MinorTribe.com</a><br />
</address>
